---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'SSOBridge — Integrate SSO in Your Scala Apps in Minutes',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      /*{
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },*/
      { text: 'Add SAML SSO into Your scala App', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      SSOBridge <span class="hidden xl:inline"> - </span>
      <span class="text-accent dark:text-white highlight"> Integrate SSO in Your Scala Apps in Minutes</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Free forever</span>
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">SSoBridge: Production-ready.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Support for all major identity providers',
        description: `SSOBridge supports integration with all major identity providers, including Okta, Google, Microsoft, and more.
         Whether your users authenticate via SAML, OAuth, or OpenID Connect, we've got you covered.
         Need support for a specific provider? Just contact us, and we’ll make it happen!`,
      },
      {
        title: 'SSOBridge: Effortless SSO Integration for Scala Applications',
        description: `Simplify the way you connect your Scala apps to SSO providers.SSOBridge delivers secure, hassle-free Single Sign-On integration, reducing development time from hours to minutes.`,
      },
      {
        title: 'Unlock Seamless SSO with SSOBridge for Scala',
        description: `Integrate Single Sign-On into your Scala applications in just a few clicks. SSOBridge empowers you with powerful, scalable SSO solutions that are easy to implement and customize.`,
      },
    ]}
    image={{
      src: 'https://docs.superblocks.com/assets/images/all-logo-slide-763e26d6c1a325f30dfac025960b8fd6.png',
      alt: 'Blueprint Image',
    }}
  >
    <!--Fragment slot="content">Ensure your online presence truly represents you.</Fragment-->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <ContactUs
    id="form"
    title="Drop us a message today!"
    inputs={[
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />
  <!--Steps
    title="Get your dream website up and running in no time with SSoBridge."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the SSoBridge template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by SSoBridge! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /--->

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- FAQs Widget ******************* -->

  <!-- Stats Widget ****************** -->

  <!--Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /-->

  <!-- CallToAction Widget *********** -->
  <Hero actions={[{ text: 'Add SAML SSO into Your scala App', href: '#features' }]} />
</Layout>
