---
import { useEffect } from 'react';
import mermaid from 'mermaid';

const { code } = Astro.props;

useEffect(() => {
  const initMermaid = async () => {
    mermaid.initialize({ startOnLoad: true });
  };

  initMermaid();
}, []);
---

<div class="mermaid">
  {code}
</div>
